:root {
  font-family: 'Merriweather', serif;
  color: rgba(34, 31, 31, 0.87);
  background-color: #fdfbfb;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.transition-div {
  animation: screenTransition 0.3s ease-out;
}

@keyframes screenTransition {
  0% {
    opacity: 0.8;
    margin-left: 35px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-align-justify-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-justify-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-column-justify-flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-justify-flex-start {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-justify-content-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify-content-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-column-justify-content-space-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-shadow {
  box-shadow: 0 10px 15px 0 rgb(230, 224, 224);
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.landing-page {
  position: relative;
  height: 110vh;
  width: 100vw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 92%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
  padding-left: 60px;
  padding-right: 60px;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-top: -10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding-top: 40px;
  transition: background-color 0.3s ease;
}

.navbar ul li {
  cursor: pointer;
  color: lightgrey;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 2px solid transparent;
}

.navbar section {
  padding-left: 0px;
  border-bottom: 0.8px solid grey;
}

.navbar section p,
.footer-container h2 {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.navbar ul li:hover {
  color: white;
  border-bottom: 2px solid white;
  transition: 0.2s ease;
}

.navbar.scrolled ul li:hover {
  color: #FF6310;
  border-bottom: 2px solid #FF6310;
}

.navbar.scrolled ul li {
  padding-bottom: 30px;
  margin-bottom: -7px;
  color: grey;
}

.main-container {
  width: 100%;
  height: 110vh;
  background-image: url('./TineyDonkeyAssets/bg.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container h1 {
  font-size: 70px;
  color: white;
  z-index: 10;
}

.main-container p {
  font-size: 16px;
  color: white;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -10px;
  /* line-height: 26.4px; */
}

.cta-button {
  background-color: #FF6310;
  border: none;
  padding: 20px 40px;
  font-size: 17px;
  color: white;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.cta-locked-button {
  background-color: #dad4d1;
  border: none;
  padding: 20px 40px;
  font-size: 17px;
  color: white;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.cta-button:hover {
  background-color: rgb(255, 140, 63);
  transition: 0.3s ease;
}

.banner {
  box-shadow: 0 20px 50px 0 rgb(230, 227, 227);
  width: 90%;
  height: max-content;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -50px;
  margin-left: -20px;
  z-index: 20;
  background-color: white;
}

.banner-icons {
  width: 50px;
}

.banner h5 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #111518;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 20px;
}

.banner p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #687279;
  font-weight: 400;
}


















.container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 4rem;
}

.stacked {
  display: grid;
}

/* .stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
} */

.product-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-top: 20px;
}

.card {
  overflow: hidden;
}

.card__content {
  background: transparent;
  align-self: end;
  margin: 0rem 0rem 2rem;
  padding: 0.5rem;
  margin-top: 15px;
}

.card__title {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  line-height: 1.4;
  color: #111518;
  text-align: center;
}

.card__price {
  font-size: 17px;
  margin-top: -3px;
  font-weight: 600;
  color: #687279;
  font-family: 'Open Sans', sans-serif
}

.card__img {
  max-width: 100%;
  aspect-ratio: 3 / 4;
  height: auto;
  vertical-align: middle;
  transition: transform 0.4s ease;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card__img {
  transform: scale(1.1);
}

.card:hover .card__title {
  color: rgb(253, 124, 71);
  transition: 0.3s ease;
}

.main-title {
  font-size: 35px;
  font-family: 'Merriweather', serif;
  line-height: 1;
  color: #111518;
  padding: 0.125em 0.5em;
  margin-bottom: 1em;
  width: fit-content;
}

.min-content {
  font-family: 'Open Sans', sans-serif;
  color: #687279;
  font-size: 15px;
  margin-top: -10px;
}


.image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.footer-container {
  background-color: rgba(17, 16, 16, 0.959);
  width: 100%;
  height: max-content;
  padding-top: 20px;
}

.footer-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  margin-top: -10px;
  transition: background-color 0.3s ease;
}

.footer-container h1 {
  font-family: 'Merriweather', serif;
  color: rgb(197, 194, 194);
  font-size: 15px;
  font-weight: 500;
}

.footer-container ul li {
  cursor: pointer;
  color: grey;
  padding-bottom: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.footer-container ul li:hover {
  color: #FF6310;
}

.newsletter-div {
  margin-top: 40px;
}

.newsletter-div p {
  margin-top: 10px;
  color: grey;
  font-size: 15px;
}

.newsletter-div input {
  margin-top: 10px;
  font-size: 15px;
  padding: 12px 10px;
  border: none;
  width: 84%;
  font-family: 'Open Sans', sans-serif;
}

.newsletter-div input:focus {
  border: none;
  outline: none;
  font-size: 15px;
}

.newsletter-div button {
  margin-top: 20px;
}

.contact-details-div h2 {
  font-family: 'Merriweather', serif;
  color: #111518;
  font-size: 16px;
}

.contact-details-div p {
  color: #687279;
  font-size: 15px;
  margin-top: 0px;
  font-weight: 400;
}

.contact-details-div div {
  margin-bottom: 20px;
}

.contact-us-email-div input {
  width: 100%;
  margin-bottom: 20px;
  height: 35px;
  padding: 2px 10px;
  font-size: 15px;
  color: #687279;
  border: 0.5px solid #eef0f3;
}

.contact-us-email-div input:focus,
.add-product-form input:focus,
.payment-details-form input:focus,
.login-form-div form input:focus,
.finances-main-div input:focus {
  outline: none;
  font-size: 17px;
  border: 1.2px solid #4ed43c;
}

.email-container {
  width: 45%;
  margin-right: 20px;
  box-shadow: 0 20px 50px 0 rgb(230, 227, 227);
}

.page-header {
  margin-top: 150px;
}

.flex-column-container div {
  width: 50%;
}

.flex-column-container img,
.about-image {
  width: 40%;
}

.flex-column-container table,
.available-product-div table {
  width: 55%;
  padding-bottom: 20px;
  border-collapse: collapse;
  /* border: 1px solid black; */
}

.cart-totals-div {
  max-width: 350px;
  margin-left: -50px;
  border: 2px solid rgb(231, 230, 230);
  padding: 10px 30px;
}

.checkout-totals-div {
  width: 500px;
  border: 2px solid rgb(231, 230, 230);
  padding: 10px 30px;
  margin-left: 20px;
}

.contact-us-icons {
  font-size: 50px;
}

.flex-column-container tbody tr,
.available-product-div tbody tr {
  border-bottom: 1px dotted #dbdbdb;
}

.flex-column-container thead tr,
.available-product-div thead tr {
  border-bottom: 2px solid rgb(231, 230, 230);
}

.flex-column-container thead tr td,
.available-product-div thead tr td {
  color: rgb(17, 21, 24);
  font-size: 15px;
  font-weight: 600;
}

.flex-column-container thead tr td,
.flex-column-container tbody tr td,
.available-product-div tbody tr td,
.available-product-div thead tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}

.cart-flex-column-container {
  width: 40%;
}

.cart-flex-column-container div {
  width: 50%;
}

.mpesa-notification-div {
  background-color: #F0F1F3;
  padding: 5px 20px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.mpesa-notification-div p {
  color: #687279;
  font-size: 14.8px;
}

.payment-details-form .span {
  padding: 20px 50px;
}

.payment-details-form input,
textarea {
  width: 100%;
}

.payment-details-form textarea::placeholder {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.payment-details-form h3,
.dashboard-container h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 17px;
}

.payment-details-form textarea {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 10px;
  border: 1px solid #dbdde0;
}

.payment-details-form textarea:focus {
  outline: none;
  border: 1.2px solid #4ed43c;
}

.payment-details-form input,
.add-product-form input,
.login-form-div form input,
.finances-main-div select {
  height: 38px;
  padding: 5px 10px;
  font-size: 16px;
  color: #0f0f0f;
  border: 1px solid #dbdde0;
  margin-bottom: 20px;
}

.payment-details-form input::placeholder,
.add-product-form input::placeholder,
.login-form-div form input::placeholder,
.finances-main-div select::placeholder {
  color: lightgray;
}

.finances-main-div input {
  height: 35px;
  padding: 5px 10px;
  font-size: 15px;
  color: #252627;
  border: 1px solid #dbdde0;
  margin-bottom: 20px;
  width: 20vw;
}

.payment-details-form label,
.add-product-form label,
.login-form-div form label,
.finances-main-div label {
  margin-bottom: 10px;
  color: RGB(104, 114, 121);
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.width100 {
  width: 100%;
}

.dashboard-container {
  margin-top: 130px;
  width: 90vw;
  height: 100vh;
}

.add-product-form {
  width: 90%;
  padding: 20px 30px;
}

.add-product-form input,
.login-form-div form input {
  width: 96%;
}

.products-scrollbar {
  width: 55%;
  height: 70vh;
}

.products-scrollbar::-webkit-scrollbar {
  width: 0;
}

.quantity {
  display: none;
}

.add-figurine-fom-div {
  width: 40%;
  margin-right: 20px;
  height: max-content;
}

.tile {
  background-color: white;
  border: 1px solid rgb(241, 241, 241);
  box-shadow: 0 0 20px rgba(92, 92, 92, 0.2);
  border-radius: 10px;
}


.expanded-product-container {
  margin-top: 130px;
  width: 100vw;
}

.expanded-flex-container {
  width: 90vw;
  padding-bottom: 50px;
  /* border: 1px solid brown; */
}

.expanded-product-right-div h1 {
  color: RGB(17, 21, 24);
  font-size: 30px;
  font-weight: 700;
}

.expanded-product-right-div h3 {
  color: #687279;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
}

.expanded-product-right-div {
  /* border: 1px solid black; */
  width: 45%;
  margin-top: -50px;
}

.expanded-product-right-div div {
  border-top: 1px solid rgb(233, 230, 230);
  border-bottom: 1px solid rgb(233, 230, 230);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
}

.product-gallery {
  /* border: 1px solid black; */
  width: 47%;
  overflow: hidden;
}

.product-gallery p {
  font-size: 12px;
  color: #687279;
  font-weight: 600;
  margin-bottom: 30px;
}

.product-gallery p span {
  color: #FF6310;
}

.main-image-expanded:hover {
  transform: scale(1.7);
  transition: 0.4s ease;
}

.login-form-div {
  height: max-content;
  width: 30%;
  padding: 30px;
  border: 2px solid rgb(231, 230, 230);
}

.login-form-div form {
  width: 100%;
}

.login-form-div form * {
  width: 100%;
}

.height100vh {
  height: 100vh;
}

.transaction-response-container {
  width: 90vw;
  height: 88vh;
}

.transaction-center-div {
  width: 70%;
  height: 100%;
  /* border: 1px solid black; */
}

.transaction-center-div p {
  color: #687279;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 120px;
  animation: spin 1.3s linear infinite;
}

.response-icon {
  width: 130px;
}

.navbar-icon-div {
  width: 15%;
  /* padding-right: 30px; */
}

.total-items {
  background-color: yellow;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #687279;
  font-weight: 700;
  font-size: 12px;
  margin-left: -8px;
  margin-top: -15px;
}

.oops-div button {
  margin-top: 50px;
  width: 50%;
}

.floating-div {
  position: fixed; /* Keep it visible even when scrolling */
  bottom: 20px; /* Anchors it near the bottom instead of using top */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 80%;
}

.finances-overview-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.finances-overview-container div {
  border: 1px solid rgb(218, 213, 213);
  width: 200px;
  margin-right: 12px;
  padding: 2px 10px;
  background-color: rgb(255, 249, 240);
  border-radius: 7px;
}

.finances-overview-container p {
  font-size: 13px;
  margin-bottom: -10px;
}

.finances-overview-container h2 {
  font-size: 27px;
}

.main-container .sold-out{
  padding: 10px 15px;
  background-color: rgba(184, 184, 184, 0.301);
  text-align: center;
  border-radius: 40px;
  font-size: 13px;
  margin-bottom: -10px;
  margin-top: 30px;
  cursor: pointer;
}
.main-container .sold-out:hover{
  background-color: rgba(255, 254, 223, 0.301);
  transition: 300ms;
}



@media screen and (max-width: 1100px) {
  .main-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flex-column-container {
    display: flex;
    flex-direction: column;
  }

  .cart-flex-column-container {
    width: 40%;
  }

  .cart-flex-column-container div {
    width: 50%;
  }

  .flex-column-container table {
    width: 90%;
  }

  .cart-totals-div {
    margin-left: 0px;
    max-width: 90vw;
    padding: 5px 25px;
    margin-top: 55px;
  }

  .banner-div {
    padding-left: 10px;
    padding-right: 10px;
  }
}














@media screen and (max-width: 700px) {
  .landing-page {
    width: 100vw;
  }

  .navbar {
    padding-left: 10px;
    padding-right: 0px;
    width: 100%;
  }

  .navbar.scrolled {
    padding-top: 10px;
  }

  .container {
    padding-inline: 0.9rem;
  }

  .navbar ul {
    display: none;
  }

  .main-container h1 {
    font-size: 55px;
  }

  .main-container div {
    margin-top: -80px;
  }

  .main-container {
    padding-left: 0px;
    height: 100vh;
  }

  .overlay {
    height: 100vh;
  }

  body {
    overflow-x: hidden;
  }

  .navbar section p,
  .footer-container h2 {
    font-size: 20px;
  }

  .navbar-icon-div {
    padding-right: 0px;
    width: 150px;
  }


  .footer-container ul {
    padding-left: 0px;
    margin-top: 20px;
  }

  .footer-container {
    padding-left: 0px;
    overflow-x: hidden;
  }

  .newsletter-div p {
    width: 90%;
  }

  .footer-container-main-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
    padding: 20px 5px;
    padding-bottom: 40px;
    margin-top: -120px;
  }

  .banner-div {
    width: 100%;
  }

  .banner-div p,
  h5 {
    margin-top: 3px;
    width: 98%;
    text-align: center;
  }

  .banner-div img {
    margin-top: 30px;
  }

  .main-title {
    font-size: 32px;
  }

  .main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .page-header,
  .expanded-product-container {
    margin-top: 100px;
  }

  .flex-column-container,
  .contact-us-flex-container,
  .payment-details-form,
  .add-product-main-container,
  .expanded-flex-container {
    display: flex;
    flex-direction: column;
  }

  .cart-table {
    margin-top: -60px;
  }

  .flex-column-container div {
    width: 90%;
    text-align: center;
  }

  .flex-column-container div h1 {
    width: 100%;
  }

  .flex-column-container table {
    width: 90%;
  }

  .flex-column-container .about-image {
    width: 90%;
    margin-top: -30px;
  }

  .quantity-th {
    display: none;
  }

  .quantity-no {
    opacity: 0;
  }

  .quantity-padding {
    padding-right: 10px;
  }

  .quantity {
    display: inline;
  }

  .cart-totals-div {
    margin-left: 0px;
    max-width: 80vw;
    padding: 5px 25px;
    margin-top: 55px;
  }

  .contact-us-icons {
    font-size: 35px;
  }

  .contact-details-div div {
    border: 1px solid transparent;
    padding-left: 30px;
    margin-bottom: 0px;
  }

  .email-container {
    width: 94%;
    margin-right: 0px;
    margin-top: 50px;
  }

  .email-container h1 {
    width: 110%;
    text-align: center;
  }

  .checkout-totals-div {
    border: 2px solid rgb(231, 230, 230);
    padding: 10px 25px;
    margin-left: 0px;
    margin-top: 40px;
  }

  .mpesa-notification-div {
    padding: 5px 20px;
    margin-bottom: 15px;
  }

  .mpesa-notification-div img {
    margin-left: -5px;
  }

  .payment-details-form .span {
    padding: 10px 20px;
    margin-top: -30px;
    margin-left: -20px;
  }

  .add-figurine-fom-div {
    width: 100%;
    margin-right: 0px;
    padding-top: -70px;
    height: max-content;
    padding-bottom: 30px;
  }

  .add-product-form {
    width: 90%;
    padding: 0px 22px;
  }

  .products-scrollbar {
    width: 100%;
    margin-top: 40px;
    height: max-content;
    padding-bottom: 30px;
  }

  .dashboard-container {
    margin-top: 110px;
  }

  .expanded-product-right-div {
    width: 100%;
    margin-top: 40px;
  }

  .product-gallery {
    width: 100%;
  }

  #stock {
    margin-top: 0px;
  }

  .expanded-product-right-div div {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .login-form-div {
    height: max-content;
    width: 80%;
    padding: 20px;
    border: 2px solid rgb(231, 230, 230);
  }

  .transaction-center-div {
    width: 100%;
    /* border: 1px solid black; */
  }

  .expanded-image-thumbnail {
    width: 70px;
  }

  .oops-div button {
    margin-top: 50px;
    width: 100%;
  }

  .product-grid {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    margin-top: 20px;
  }

  .card__title {
    font-size: 16px;
    margin-top: -5px;
  }
  .main-container-content {
    width: 94%;
  }

  /* .tile {
    background-color: white;
    border: 1px solid rgb(241, 241, 241);
    box-shadow: 0 0 20px rgba(92, 92, 92, 0.2);
    border-radius: 10px;
    width: 104%;
    margin-left: -3px;
  } */

  .main-container .sold-out{
    margin-bottom: 0px;
    margin-top: -35px;
    padding: 10px 15px;
    font-size: 13.5px;
  }
}